.active-order {
  margin: 20px 0;
  padding: 15px 20px;
  background: #fff;
  color: #222;
  border-radius: 5px;
  position: relative;
  border-bottom: 7px solid #5281bc;
  &__user {
    padding-bottom: 8px;
    font-size: 20px;
    color: #222;
    border-bottom: 2px solid #222;
  }
  &__row {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    &--head {
      font-weight: bold;
      font-size: 16px;
    }
  }
  &__quantity {
    min-width: 75px;
    text-align: center;
  }
  &__btn {
    margin: 0;
    padding: 0;
    width: 35px;
    height: 35px;
    position: absolute;
    right: -10px;
    top: -17px;
    border-radius: 50%;
    color: #fff;
    background-color: #009200;
    border: none;
    line-height: 16px;
    &:hover {
      background-color: #006d00;;
    }
  }
  &__check {
    font-size: 20px;
    &:hover {
      opacity: 1;
    }
  }
}
