<div class="new-item__wrapper">
  <form class="new-item clearfix">
    <h3 class="new-item__title">New Item</h3>
    <input
      type="text"
      class="new-item__name"
      placeholder="Item name"
    />
    <textarea
      class="new-item__description"
      placeholder="Description"
    ></textarea>
    <label class="new-item__file-label">
      <i class="fa fa-download new-item__upload-icon"></i>
      <span class="new-item__file-btn">Upload image</span>
      <input
        class="new-item__file"
        type="file"
      />
    </label>
    <button type="submit" class="button button--add">save</button>
  </form>
</div>
